/* COLORS
    Gray20: #333333
    Gray40:  #666666
    Gray60:     #999999
    Gray80      #CCCCCC
    Pantone Dark Blue: #325477
    Pantone Lavender: #775496
    Pantone Lavender Herb: #B38FB1
    Pantone Pastel Lavender:    #DAA4C9
    Pantone Deep Lavender:  #77529A
    Pantone Gold Fusion: FFB100

    Facebook Blue: #3b5998;
    Google Red: #dd4b39;
    Pinterest Red: #bd081c;
    Whatsapp Green: #4dc247;
*/

@font-face {
    font-family: Raleway;
    /* change source to hosted src in production */
    src: url('../fonts/Raleway-Regular.ttf');
}
@font-face {
    font-family: Roboto;
    /* change source to hosted src in production */
    src: url('../fonts/Roboto-Regular.ttf');
}

body { font-family: Raleway; }
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway;
  font-weight: 800;
}

h1 { color: red; }
