/* COLORS
    Gray20: #333333
    Gray40:  #666666
    Gray60:     #999999
    Gray80      #CCCCCC
    Pantone Dark Blue: #325477
    Pantone Lavender: #775496
    Pantone Lavender Herb: #B38FB1
    Pantone Pastel Lavender:    #DAA4C9
    Pantone Deep Lavender:  #77529A
    Pantone Gold Fusion: FFB100

    Facebook Blue: #3b5998;
    Google Red: #dd4b39;
    Pinterest Red: #bd081c;
    Whatsapp Green: #4dc247;
*/

@font-face {
    font-family: Raleway;
    /* change source to hosted src in production */
    src: url('../fonts/Raleway-Regular.ttf');
}
@font-face {
    font-family: Roboto;
    /* change source to hosted src in production */
    src: url('../fonts/Roboto-Regular.ttf');
}


a:link:not(.jssocials-share-link):not(.nav-link) {
    color: #775496;
    text-decoration: none;
    border-bottom: dotted 1px #775496;
}
a:visited:not(.jssocials-share-link):not(.nav-link) {
    text-decoration: none;
    color: #325477;
}
a:hover:not(.jssocials-share-link):not(.nav-link ) {
    color: #775496!important;
    font-weight: bold;
    text-decoration: none;
    border-bottom: dotted 1px #775496;
}
a:active { text-decoration: none; }


body {
    font-family: Raleway;
    margin-top: 2em;
}


/* Remove the spinner next to inputs */
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=date]::-webkit-inner-spin-button, input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Bootstrap accordion */
#accordion .card {
    /* Card content */
    background: none;
    border: none;
}
#accordion .card-header {
    /* Card header */
    background: inherit;
    border: inherit;
}
#accordion .card-header a {
    /* Header link */
    text-decoration: none;
    border-bottom: none;
}
#accordion .card-header a:before {
    /* Icon for expanded */
    font-family: FontAwesome;
    content: "\f068";
    padding-right: 0.5em;
}
#accordion .card-header a.collapsed:before {
    /* Icon for collapsed */
    font-family: FontAwesome;
    content: "\f067";
    padding-right: 0.5em;
}
#accordion .card-block {
    /* Eliminate top and bottom card-block padding */
    padding: 0 3em;
}


/* Remove asterisk on Required Fields in Forms */
.asteriskField { display: none; }


/* Bootstrap Vertical Navbar */
@media (min-width: 768px) {
    .bootstrap-vertical-nav { margin-top: 10px; }
}
@media (min-width: 768px) {
    /* Creates a vertical nav starting at 768px (sm) */
    .bootstrap-vertical-nav .collapse { display: block; }
}


.btn-primary {
    color: #fff;
    background-color: #B38FB1;
    border-color: #77529A;
}
.btn-primary:hover {
    background-color: #DAA4C9;
    border-color: #B38FB1;
    box-shadow: 0 0 5px #77529A;
}
.btn-primary:active { background-color: #77529A; }


/* Copyright text */
.copyright {
    color: #999999;
    font-size: 80%;
    font-style: italic;
    margin-top: 2em;
}


/* Hide the image name text that appears before the gallery loads */
#featured-images a { color: white; }


/* Footer styling, visible only on small viewports */
.footer {
    background: #775496;
    padding: 1em 0;
    border-bottom: solid 1px #775496;
    margin-top: 1em;
}
.footer > nav { margin-top: 1em; }
.footer > nav > a {
    color: white;
    position: relative;
    border-bottom: none;
}
.footer > nav > a:hover {
    color: white;
    font-weight: bold;
}
.footer > nav > a:before {
    content: "";
    position: absolute;
    width: 40%;
    height: 2px;
    bottom: 0.5em;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: hsla(0, 0%, 100%, 0.5);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.footer > nav > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.footer > .copyright { color: #CCCCCC; }
.footer .jssocials-share a:hover { background: white; }
.footer .jssocials-share-link {
    color: white;
    border-color: white;
    box-shadow: 0px 0px 5px white;
}


/* Form error message */
.form-control-feedback {
    font-style: italic;
    font-size: smaller;
}


/* Labels for forms */
.form-control-label {
    color: #77529A;
    font-style: italic;
}


/* jsSocials */
.jssocials-share {
    /* Remove default margins and add horizontal spacing */
    margin: 0 0.4em;
}
.jssocials-share-link {
    border-radius: 50%;  /* Circular links */
    font-size: 0.6em;   /* Link size */
    color: #666666;
}
.jssocials-share-email a:hover {
    color: #FFB100;
    border-color: #FFB100;
    box-shadow: 0px 0px 5px #FFB100;
}
.jssocials-share-facebook a:hover {
    color: #3b5998;
    border-color: #3b5998;
    box-shadow: 0px 0px 5px #3b5998;
}
.jssocials-share-googleplus a:hover {
    color: #dd4b39;
    border-color: #dd4b39;
    box-shadow: 0px 0px 5px #dd4b39;
}
.jssocials-share-pinterest a:hover {
    color: #bd081c;
    border-color: #bd081c;
    box-shadow: 0px 0px 5px #bd081c;
}
.jssocials-share-whatsapp a:hover {
    color: #4dc247;
    border-color: #4dc247;
    box-shadow: 0px 0px 5px #4dc247;
}


/* Client login failed message */
.login-failed {
    color: red;
    font-style: italic;
    padding: 0 2em;
}


.menu-mobile { margin-bottom: 1.5em; }


.nav { margin-bottom: 2em; }


/* Menu links */
#navbar a {
    position: relative;
    color: hsla(0, 0%, 20%, 1.0);
    text-decoration: none;
    border-bottom: none;
}
#navbar a:hover {
    font-weight: bold;
    color: inherit;
}
#navbar a:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0.5em;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: hsla(0, 0%, 60%, 1.0);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
#navbar a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.navbar-toggler {
    /* Menu button shown on small viewports */
    color: #999999;
    border: 2px solid #999999;
}
.navbar-toggler:hover {
    color: #775496;
    border-color: #775496;
    box-shadow: 0px 0px 5px #775496;
}


/* Add space between inline radio elements */
.radio-inline + .radio-inline { margin-left: 2em; }


.wagtail-userbar__item {
    background: #CCCCCC!important;
}
