---
layout: default
---

<!-- Page Header -->
<header class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="page-heading text-center">
            <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
            <hr class="small">
            <span class="subheading">{{ page.description }}</span>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {{ content }}
        </div>
    </div>
</div>

<hr>
