---
layout: default
---

<!-- Post Header -->
<header>
    <div class="jumbotron jumbotron-fluid jumbotron-bg">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="page-heading text-center">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 author-block">
                <div class="d-flex justify-content-center">
                    <span>{% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %}</span>
                    <img class="portrait" src="{{ site.baseurl }}/assets/img/Sam-headshot.jpg" alt="Sam headshot">
                    <span>{{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2" style="overflow:auto">
			    {{ content }}

                <hr>

                <!-- Pager -->
                {% if page.next.url or page.previous.url %}
                <div class="pager">
                    {% if page.previous.url %}
                    <a class="previous float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                    {% endif %}
                    {% if page.next.url %}
                    <a class="next float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                    {% endif %}
                </div>

                <hr>
                {% endif %}

                <!-- Disqus -->
                {% if page.comments %}
                <div id="disqus_thread"></div>
                <script>

                /* CONFIGURATION VARIABLES */
                var disqus_config = function () {
                this.page.url = '{{ site.url }}';
                this.page.identifier = '{{ page.id }}';
                };
                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://one-for-the-road.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                {% endif %}

            </div>
        </div>
    </div>
</article>



<hr>
